@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
}

/* Nav Bar */

header li, a, button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px 0;
}

.nav_links li a {
    transition: all 0.7s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.menu {
    display: none;
}

header button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
}

header button:hover {
    background-color: rgba(0, 136, 169, 0.75);
}

@media only screen and (max-width: 800px) {
    .nav_links, .cta {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/* Mobile Nav */

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: all 0.7s ease 0s;
}

.overlay_content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.7s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay .close:hover {
    opacity: .5;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 450px) {
    .overlay a {
        font-size: 24px;
    }

    .overlay .close {
        font-size: 44px;
        top: 15px;
        right: 35px;
    }
}

/* Landing Page */

.land-page { 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    margin: 0 auto 0;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.card .card-header {
    position: relative;
    height: 48px;
}

.card .card-header .profile-img {
    width: 144px;
    height: 144px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid rgb(230, 230, 230);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
}

.card .card-body {
    padding: 28px 40px 10px;
}

.card .card-body .full-name {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0 0;
}

.card .card-body .username {
    font-size: 16px;
    color: #777;
    margin: 5px 0 0;
}

.card .card-body .city {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0;
}

.card .card-body .desc {
    line-height: 36px;
    font-size: 18px;
}

.card .social-icon {
    font-size: 18px;
    margin: 0 6px;
}

.card .card-footer {
    display: table;
    width: 100%;
    color: #000;
}

.card .card-footer a {
    color: #000;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border: none;
    background: #9e9e9e;
    border-radius: 100px;
    transition: all 0.7s ease 0s; 
}

.card .card-footer a:hover {
    background: rgb(14, 14, 14);
    color: white;
    cursor: pointer;
}

.card .card-footer .col {
    display: table-cell;
    padding: 4px 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .card {
        width: 90%;
    }

    .card .card-body {
        padding: 36px 40px 10px;
    }

    .card .card-footer .col {
        padding: 5px 10px 24px;
    }
}

/* About Section */

.title-about {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

.title-about::after, .title-about::before {
    content: '';
    width: 200px;
    height: 2px;
    background: currentColor;
    display: block;
    margin: 10px auto;
}

.about-sc {
    width: 90%;
    margin: 45px auto 90px;
    padding: 0;
}

#about {
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 230, 230);
    border-radius: 12px;
    box-shadow: 0px 8px 32px black;
}

.left h1 {
    font-size: 28pt;
}

.left h2 {
    font-size: 14pt;
}

.left p {
    text-align: center;
    font-size: 12pt;
}  

@media screen and (max-width: 800px) {
    .left h1 {
        font-size: 20pt;
    }
    
    .left h2 {
        font-size: 10pt;
    }
    
    #about p {
        text-align: center;
        font-size: 10pt;
    }  
}

@media screen and (max-width: 700px) {
    #about {
        display: block;
    }
    .left h1 {
        padding-top: 10px;
        text-align: center;
    }
    
    .left h2 {
        text-align: center;
    }
    
    #about p {
        text-align: center;
        padding-top: 20px;
    }  
}

.click_top {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 10px;
    width: 40px;
    height: 40px;
    background: #0088a9;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 2s all;
}

.skills {
    width: 500px;
    background: #000;
    margin: 120px auto 90px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container p {
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

#ph-p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.container p:nth-child(2) {
    float: right;
    position: relative;
    top: -32px;
}

.container li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.container li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(0, 135, 169, 0.253);
    border-radius: 1000px;  
}

.container li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.container li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

.container li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }
}

.container li.javascript:after {
    animation-name: javascript;
}

@keyframes javascript {
    to {
        width: 30%;
    }
}

@media screen and (max-width: 700px) {
    .skills {
        width: 90%;
    }
}